<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Todo API home Page</title>
	</head>
	<body>
		<h1>Todo API Home Page</h1>
		<p>This is a Node API training project</p>
	</body>
</html>